.ingredientButton {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 200px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}

.ingredientButton:hover {
  border-color: #d4d6db;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 4px;
  color: #202124;
}

.imageContainer {
  width: 60px;
  height: 60px;
}

img {
  width: 100%;
  height: auto;
}

.ingredientName {
  font-size: 18px;
  margin-left: 10px;
}