#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.constructorContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  border-radius: 15px;
}


